body {
  width: 400px;
  min-height: 450px;
  color: rgb(51, 51, 51);
  cursor: default;
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 75%;
}

h1,
h2,
h3 {
  -webkit-user-select: none;
  font-weight: normal;
  line-height: 1;
}

h3 {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: black;
  margin-bottom: 0.8em;
}

header {
  background-color: #f3f3f3;
  background-image: linear-gradient(#f9f9f9, #f3f3f3);
  background-repeat: repeat-x;
}

header section {
  padding: 10px;
}

header a {
  color: #3D7ADD;
  outline: none;
}

header h1,
img {
  vertical-align: middle;
}

header h1 {
  font-weight: 100;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  font-weight: bold;
}

.count {
  margin-top: 10px;
  float: right;
}

input[type="text"],
input[type='password'] {
  width: 100%;
}

span.description {
  font-style: italic;
  color: grey;
}

section {
  -webkit-padding-start: 18px;
}

section h3 {
  -webkit-margin-start: -18px;
}

.spacer {
  margin: 14px 17px;
}

.welcome,
.empty,
.add-repo {
  display: none;
}

.add-repo {
  display: none;
  margin: 0;
  background-color: rgba(255, 255, 171, 0.57);
  width: 100%;
  text-align: center;
  padding: 3px;
}

.prs {
  padding: 0 0 0 0px;
  border-top: 1px solid #eee;
}

.pr:hover {
  background-color: rgba(0, 0, 0, .05);
}

.pr {
  padding: 10px;
  display: block;
  border-bottom: 1px solid #eee;
}

.pr div {
  padding: 0 0 3px 0;
  margin: 0;
  font-size: 10px;
  line-height: 20px;
}

.pr div.title {
  display: inline-block;
  width: 340px;
}

.pr .avatar {
  padding: 0;
  width: 34px;
  display: inline-block;
  vertical-align: top;
}

.pr .avatar img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
}

.pr a {
  color: #333;
  text-decoration: none;
}

.pr .pr-link {
  color: #444;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.pr .hide {
  cursor: pointer;
  display: none;
}

.pr:hover .hide {
  display: inline;
}

#repositories {
  list-style: none;
  padding: 0 0;
}

#repositories > li > p {
  font-size: 16px;
  font-weight: bold;
}

#repositories > li > p > .remove {
  color: #ccc;
  margin-left: 5px;
  font-size: 12px;
  cursor: pointer;
  display: none;
}

#repositories > li > p:hover > .remove {
  display: inline;
}

#repositories > li > p > a {
  text-decoration: none;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 2px;
}

.icon {
  height: 30px;
  width: 30px;
}

.icon_small {
  height: 20px;
  width: 20px;
  float: left;
}
