body {
  font-size: 12px;
  min-width: 320px;
  line-height: 18px;
  color: #555;
  background-color: #EFF1F2;
}

select {
  display: none;
}

.navbar {
  background-color: #fff;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  border-top: 0;
  border-color: #d3d8db
}

.navbar-default .navbar-brand {
  color: #555;
}

.no-mar {
  margin: 0;
}

.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}

.ui-sortable-handle {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    cursor: all-scroll;
}

.columnName{
    width: calc(100% - 50px);
    display: inline-block;
}

